* {
    margin: 0;
    padding: 0;
}

body {
    font: {
        family: getFont('rob');
    }
    color: getColor('primary');
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &--silver {
        background-color: getColor('secondary-bgc');
    }

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
